* { box-sizing: border-box }

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    color: #222;
}

/* Typography */
h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

p {
    font-size: 18px;
    line-height: 28px;
}

ul {
    list-style: none;
    padding: 5px 0 0 0;
}

li {
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 22px;
}

.li-green { background-color: #c7f9cc }
.li-yellow { background-color: #f7ebb2 }
.li-blue { background-color: #87e2f3 }
.li-pink { background-color: #ffd8de }

/* Layout */
img { width: 100% }

main {
    width: 400px;
    margin: 0 auto;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 450px;
    background-color: #222;
    opacity: 0.95;
    color: #e7f7f3;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #b3b3b3;
}

.modal-body {
    width: 275px;
    margin: 0 auto;
}

.modal-body h2 { margin-top: 0 }

/* modal button */
.close-modal-btn-container {
    margin: 7px;
    text-align: right;
}

.close-modal-btn {
    color: whitesmoke;
    background: transparent;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 600;
}
.close-modal-btn:hover {
    color: #fc6060;
    cursor: pointer;
}
.close-modal-btn:active {
    color: #9d4141;
}
.close-modal-btn:disabled {
    color: #979797;
    opacity: 0.5;
    cursor: not-allowed;
}

/* form */
form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 7px;
    margin-bottom: 10px;
}

.modal-choice-btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modal-choice-btns-reverse { flex-direction: row-reverse }

.modal-btn {
    font-size: 20px;
    padding: 10px 24px;
    margin: 0 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.idiot-gif img{
    box-shadow: 1px 1px 3px #b3b3b3;
    border-radius: 5px;
}

.modal-display-name { color: #cd0dc0 }